body {
    background-color: rgb(242, 248, 248);

}

#header{
    color: rgb(62, 14, 72);
    text-align: center;
    font-size: 20pt;
    text-decoration: underline;
    padding-bottom: 0.1em;
}


#headerTag{
    text-align: center; 
    font-size: 35pt; 
    color: rgb(191, 23, 23); 
    text-decoration: underline;
}

nav ul{
    list-style-type: none;
    text-decoration: none;
    background-color: black;
    color: cornsilk;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

nav ul li {
    display: inline-block;
    text-align: horizontal center;
    font-size: 18pt;
}

nav ul li a:hover{
    color:rgb(131, 55, 182);
    background-color: rgb(230, 240, 207);
    font-weight: bold;
}

nav ul li a {
    padding-left: 1em;
    padding-right: 1em;
    color: cornsilk;
    text-decoration: none;
}


#section {
    width: 90%;
    margin:auto;
    padding-bottom: 10px;
    margin-left: 2em;
    display: inline-flex;
}

#section1{
    margin-left: 3em;
    width: 35%;
    padding: 0 0 0 0;
    display: inline-flex;
    
}

#val1{
    background-color: cornflowerblue;
    padding: 1em 1em 1em 1em;
}


.image {
    width: 40%;
    margin-left: 20px;
    display: inline-block;
}

#font{
    width: 60%;
    padding-left: 1em;
    display: inline-block;
}

#font1{
    width: 60%;
    padding-left: 7em;
    display: inline-block;
}

h1 {
    text-align: center;
    color:darkblue;
}

#p1{
    
    text-align: justify;
}

span{
    color: red;
}
